@font-face{
    font-family: "merriweather-bold-italic";
    src: url("fonts/merriweather-bold-italic.woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: "merriweather-bold.woff2";
    src: url("fonts/merriweather-bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "merriweather-italic.woff2";
    src: url(fonts/merriweather-italic.woff2);
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: "merriweather-regular.woff2";
    src: url(fonts/merriweather-regular.woff2);
    font-weight: 400;
    font-style: normal;
}

:root{
    --mf-regular: "merriweather-regular.woff2", serif;
    --mf-bold-italic: "merriweather-bold-italic.woff2", serif;
    --mf-italic: "merriweather-italic.woff2", serif;
    --mf-bold: "merriweather-bold.woff2", serif;
    --text-color:#33262A;
    --primary-accent: #8A2E3B;
    --secondary-accent: #C27A45;
    --background-color: #f7eee1;
    --primary-gap: 1.8rem;
    --secondary-gap: 1.5rem;
    --tertiary-gap: 1rem;
    --fourth-gap: 0.5rem;
    --par-line-height: 1.5;
    --font-size-extra-large: 2rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.2rem;
    --font-size-regular: 1rem;
    --font-size-small: 0.8rem;
    --font-size-a: 1rem;
    --font-max-h1: 2.5rem;
    --font-max-h2: 1.875rem;
    --font-max-h3: 1.5rem;
    --font-max-h4: 1.245rem;
    --font-max-small: 1rem;
    --font-max-p: 1.245rem;
    --font-max-a: 1.245rem;
    --font-scaling-value: 1dvw;
    --special-small-margin: 0.1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

img, picture, blockquote{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

img{
    object-fit: cover;
}


body{
    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
    background-color: var(--background-color);
    font-family: var(--mf-regular);
    min-height: 100dvh;
    line-height: var(--par-line-height);
}

section, article, aside, figure, main{
    display: grid;
}

main{
    gap: var(--secondary-gap);
}

section, article, aside{
    gap: var(--tertiary-gap);
}

figure{
    gap: var(--fourth-gap);
}

.current{
    border-bottom: 0.15rem solid var(--primary-accent);
}

ol li{
    margin-left: 1rem;
}

li{
    max-width: 70ch;
}


/*Text related styling*/

em{
    font-family: var(--mf-bold-italic);
    font-weight: bold;
    margin-left: var(--special-small-margin);
    margin-right: var(--special-small-margin);
}

figcaption{
    font-size: clamp(var(--font-size-small), var(--font-scaling-value) + var(--font-size-small), var(--font-max-p));
}

p{
    font-family: var(--mf-regular);
    color: var(--text-color);
    font-size: clamp(var(--font-size-regular), var(--font-scaling-value) + var(--font-size-regular), var(--font-max-p));
    max-width: 70ch;
}

h1, h2, h3, h4, h5{
    font-family: var(--mf-bold);
    padding-bottom: 0.5rem;
}

h1, h2, h3{
    color: var(--primary-accent);
}

h1{
    font-size: clamp(var(--font-size-extra-large), var(--font-scaling-value) + var(--font-size-extra-large), var(--font-max-h1));
    margin-top: 1.5rem;
    margin-bottom: 1rem;

}

h2, h3{
    border-bottom: 0.25rem solid var(--primary-accent);
    width: 100%;
}

h2{
    font-size: clamp(var(--font-size-large), var(--font-scaling-value) + var(--font-size-large), var(--font-max-h2));
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
}

h3{
    font-size: clamp(var(--font-size-medium), var(--font-scaling-value) + (var(--font-size-medium)), var(--font-max-h3));
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}


h4{
    font-size: clamp(var(--font-size-regular), var(--font-scaling-value) + var(--font-size-medium), var(--font-max-h4));
    color: var(--text-color);
    margin-top: 0.9rem;
    margin-bottom: 0.6rem;
}

h5{
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    font-size: clamp(var(--font-size-regular), var(--font-scaling-value) + var(--font-size-regular), var(--font-max-h4));
}

button, label{
    font-family: var(--mf-regular);

}

label, button{
    font-size: clamp(var(--font-size-regular), var(--font-scaling-value) + var(--font-size-regular), var(--font-size-large));

}


button{
    font-size: clamp(var(--font-size-regular), var(--font-scaling-value) + var(--font-size-regular), var(--font-size-large));
    color: var(--text-color);
    background-color: var(--background-color);
    transition: all 1s ease-in-out;
}

button:hover{
    color: var(--primary-accent);
    background-color: var(--secondary-accent);
}

a:link, a:visited{
    color: var(--text-color);
    font-size: clamp(var(--font-size-a), var(--font-scaling-value) + var(--font-size-a), var(--font-max-a));
    text-decoration: none;
    font-family: var(--mf-italic);
    font-style: italic;
    margin-left: var(--special-small-margin);
    margin-right: var(--special-small-margin);
}



a:hover{
    color: var(--primary-accent);
    text-decoration: underline solid var(--primary-accent) 0.05rem;
}


/*HEADER and FOOTER*/

header{
    display: flex;
    flex-direction: column;
}

header ul, footer{
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--fourth-gap);
    justify-content: space-between;
    border-top: 0.15rem solid var(--primary-accent);
    border-bottom: 0.15rem solid var(--primary-accent);
}

footer p, footer a:link{
    font-size: var(--font-size-small);
}



/*WEBPAGES*/

/*HOMEPAGE*/

.homepage-top-pics{
    grid-template-columns: 1fr;
}


/*BLOCKQUOTE*/

blockquote{
    display: flex;
    flex-flow: column wrap;
    border-top: 0.4rem double var(--secondary-accent);
    border-bottom: 0.4rem double var(--secondary-accent);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

blockquote p{
    font-family: var(--mf-bold-italic);
    font-style: italic;
    font-weight: bold;
    font-size: clamp(var(--font-size-medium), var(--font-scaling-value) + var(--font-size-medium), var(--font-max-h1));
    color: var(--primary-accent);
    text-align: center;
}

blockquote p, blockquote, figcaption, .mission{
    margin: auto;
}



#savarin{
    font-size: clamp(var(--font-size-small), var(--font-scaling-value) + var(--font-size-small), var(--font-max-small));
}


/*"ONZE MISSIE" page*/




/*hides or shows images based based on screen size*/


    .visible-from-tablet, .visible-from-desktop{
        display: none;
    }


/*"INSCHRIJVEN" PAGE*/

form{
    display: grid;
    margin: auto;
    width: 50dvh;
    gap: var(--primary-gap);
    background-color: var(--background-color);
}

.form-group{
    display: grid;
}



/*MEDIA QUERIES*/

@media(min-width: 300px){

    main, header, footer{
        width: 96dvw;
        margin: auto;
    }

}

@media (min-width: 380px){

    main, header, footer{
        width: 90dvw;
        margin: auto;
    }
}



/*REGULAR PHONE SIZE*/


/*Creates grid and underlining for header nav ul, fixes wrapping at small width*/
@media (max-width: 573px){
    header nav ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .make-header-underlining{
        border-bottom: 0.1rem dashed var(--secondary-accent);
    }

    .current{
        border-bottom: 0.15rem solid var(--primary-accent);
}
}


/*TABLET SIZE*/

@media (min-width: 600px){

    article.visible-from-tablet{
        display: grid;
    }

    picture.visible-from-tablet, img.visible-from-desktop{
        display: block;
    }


    /*start of homepage*/

    .homepage-top-pics figure{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .news, .new-recipes{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.2fr 1.8fr;
    }

    .news h3, .new-recipes h3 {
        grid-area: 1 / 1 / 2 / 4;
    }

    .news article, .new-recipes article{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);

    }

    /*end of homepage*/

    nav ul, footer{
        justify-content: space-evenly;
    }

    /*one of the homepage pics spans*/

    .spans-for-tablet-desktop{
        grid-area: 1 / 1 / 3 / 2;
    }

    /*start of "onze missie" page*/

    .mission-top-pics, .mission-bottom-pics{
        grid-template-columns: repeat(2, 1fr);
    }

    .mission-top-pics figcaption, .mission-bottom-pics figcaption{
        grid-area: 2 / 1 / 3 / 3;
    }

    /*end of "onze missie" page*/

    /*start of "recepten" page*/

    .picture-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .picture-section img{
        height: 100%;
        object-fit: cover;
    }

    .prep-section ol, .ingredient-section ul{
        display: grid;
        row-gap: var(--fourth-gap);
    }

    /*end of "recepten" page*/

    /*start of "inschrijven" page*/


    .subscription-body{
        justify-content: space-between;
    }

    .subscription-top-pics, .subscription-bottom-pics{
        grid-template-columns: repeat(2, 1fr);
    }

    .subscription-body main{
        gap: clamp(4rem, 4rem + var(--font-scaling-value), 10rem)
    }

    }

    /*end of "inschrijven" page*/



/*SMALL DESKTOP SIZE*/


@media (min-width: 1024px){

    article.visible-from-desktop{
        display: grid;
    }

    picture.visible-from-desktop{
        display: block;
    }

    nav ul, footer{
        justify-content: space-around;
    }

    /*HOMEPAGE START*/

    .homepage-top-pics figure{
        grid-template-columns: 2fr 1fr 1fr;
    }

    .news, .new-recipes{
        grid-template-rows: 0.2fr 1.8fr;
        grid-template-columns: repeat(4, 1fr);
    }

    .news h3, .new-recipes h3{
        grid-area: 1 / 1 / 2 / 5;
    }

    /*HOMEPAGE END*/

    /*"ONZE MISSIE" START*/

    .mission-top-pics, .mission-bottom-pics, .picture-section{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .mission-top-pics figcaption, .mission-bottom-pics figcaption{
        grid-area: 2 / 1 / 3 / 5;
    }

    .mission{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    /*"ONZE MISSIE" END*/

    .prep-ingredients-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .prep-section, .ingredient-section{
        display: flex;
        flex-direction: column;
    }

    .subscription-top-pics, .subscription-bottom-pics{
        margin: auto;
        width: 90%;
        scale: 0.9;
    }
}



    /*LARGE DESKTOP SIZE*/

    @media(min-width: 1600px){


    }


