@font-face{
    font-family: "merriweather-bold-italic";
    src: url("fonts/merriweather-bold-italic.woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: "merriweather-bold.woff2";
    src: url("fonts/merriweather-bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "merriweather-italic.woff2";
    src: url(fonts/merriweather-italic.woff2);
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: "merriweather-regular.woff2";
    src: url(fonts/merriweather-regular.woff2);
    font-weight: 400;
    font-style: normal;
}

:root{
    --mf-regular: "merriweather-regular", serif;
    --mf-bold-italic: "merriweather-bold-italic", serif;
    --mf-italic: "merriweather-italic", serif;
    --mf-bold: "merriweather-bold", serif;
    --text-color:#33262A;
    --primary-accent: #8A2E3B;
    --secondary-accent: #C27A45;
    --background-color: #f7eee1;
    --tablet-size: 600px;
    --desktop-size: 1024px;
    --section-gap: 1.5rem;
    --secondary-section-gap: 0.5rem;
    --par-line-height: 1.5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

/*Text related styling*/

p{
    font-family: var(--mf-regular);
    color: var(--text-color);
    font-size: 1rem;
}

h1, h2, h3{
    font-family: var(--mf-bold);
}

h1, h2{
    color: var(--primary-accent);
}

h1{
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

h2{
    font-size: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    border-bottom: 0.25rem solid var(--primary-accent);
    width: 100%;
}

h3{
    font-size: 1.2rem;
    color: var(--text-color);
}

h3{
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
}

a:link, a:visited{
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
    font-family: var(--mf-italic);
    font-style: italic;
}

a:hover{
    color: var(--primary-accent);
    border-bottom: 0.05rem solid var(--primary-accent);
}

ul{
    list-style: none;
}

figure img{
    width: 100%;
    height: 100%;
}

/*Cross element/section styling and structuring*/


body, header, .homepage-top-pics, div.quote, .news, section.new-recipes, footer, nav>ul, .mission-and-pics, .mission, .mission-pics, .recipe-page-section, .recipe-figure-section, .cuisine{
    display: flex;
    flex-wrap: wrap;
}

body{
    flex-direction: column;
    width: 100%;
    gap: var(--section-gap);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    line-height: 1.4;
}

li{
    font-size: 1rem;
    font-family: var(--mf-regular);
    color: var(--text-color);
}

.news h2, .new-recipes h2, .news a, .new-recipes a{
    margin-bottom: 1rem;
}


/*Styling per section/article/...*/

/*header*/


header > nav{
    border-top: 0.15rem solid var(--primary-accent);
    border-bottom: 0.15rem solid var(--primary-accent);
    width: 100%;
}

header ul{
    display: flex;
    justify-content: space-between;
}

.active-page{
    border-bottom: 0.2rem solid var(--primary-accent);;
}

/*homepage-top-pics section*/


/*quote article*/

.quote{
    text-align: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-top: 0.4rem double var(--primary-accent);
    border-bottom: 0.4rem double var(--primary-accent);
}

q{
    font-size: 1.4rem;
    font-family: var(--mf-bold-italic);
    color: var(--secondary-accent);
    text-align: center;
}

q + p{
    text-align: center;
}

/*news & new-recipes section*/

.news, .new-recipes{
    gap: var(--secondary-section-gap);
}




/*footer section*/

footer > *, footer a:link{
    font-size: 0.8rem;
}

footer{
    justify-content: space-between;
    border-top: 0.15rem solid var(--primary-accent);
    border-bottom: 0.15rem solid var(--primary-accent);
}

footer nav{
    align-self: center;
}

/*"ONZE-MISSIE" PAGE*/

.mission-and-pics{
    margin-top: 0.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    gap: var(--section-gap);
}

.mission-and-pics p{
    line-height: var(--par-line-height);
}

.mission{
    gap: var(--section-gap);
}

.mission-pics-bottom, .mission-pics-top{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--section-gap);
}

/*"RECEPTEN" PAGE*/

.cuisine, .recipe-figure-section, .prep-ingredients-section{
    gap: var(--secondary-section-gap);
}

.figure-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--section-gap);
    column-gap: var(--secondary-section-gap);
}

.prep-ingredients-section{
    margin-top: 1rem;
    display: grid;
    gap: var(--section-gap);
}

.prep-section li{
    margin-left: 1rem;
}

.cuisine h2{
    margin-top: 2rem;
}



.spanned-figure{
    grid-column: 1 / 3;
}


.recipe-page-section{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

/*hides or shows images based on screen size*/

.tablet-pic, .tablet-anchor, .desktop-pic{
    display: none;
}

@media (min-width: 600px){
    .tablet-pic, .tablet-anchor{
        display: block;
    }
}

@media (min-width: 1024px){
    .desktop-pic{
        display: block;
    }
}

