@font-face{
    font-family: "merriweather-bold-italic";
    src: url("fonts/merriweather-bold-italic.woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: "merriweather-bold.woff2";
    src: url("fonts/merriweather-bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "merriweather-italic.woff2";
    src: url(fonts/merriweather-italic.woff2);
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: "merriweather-regular.woff2";
    src: url(fonts/merriweather-regular.woff2);
    font-weight: 400;
    font-style: normal;
}

:root{
    --mf-regular: "merriweather-regular.woff2", serif;
    --mf-bold-italic: "merriweather-bold-italic.woff2", serif;
    --mf-italic: "merriweather-italic.woff2", serif;
    --mf-bold: "merriweather-bold.woff2", serif;
    --text-color:#33262A;
    --primary-accent: #8A2E3B;
    --secondary-accent: #C27A45;
    --background-color: #f7eee1;
    --primary-gap: 1.8rem;
    --secondary-gap: 1.5rem;
    --tertiary-gap: 1rem;
    --fourth-gap: 0.5rem;
    --par-line-height: clamp(1.5rem, 0.1vw + 1.5rem, 1.7rem);
    --font-size-extra-large: 2rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.2rem;
    --font-size-regular: 1rem;
    --font-size-small: 0.8rem;
    --font-size-a: 1rem;
    --font-max-h1: 4rem;
    --font-max-h2: 3rem;
    --font-max-h3: 2.4rem;
    --font-max-h4: 2rem;
    --font-max-small: 2rem;
    --font-max-p: 2rem;
    --font-max-a: 2rem;
    --font-scaling-value: 0.2vw;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul{
    list-style: none;
}

img{
    max-width: 100%;
    width: 100%;
}

body, html{
    min-height: 100dvh;
}

body{
    display: flex;
    flex-direction: column;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    gap: var(--primary-gap);
    background-color: var(--background-color);
    line-height: var(--par-line-height);
}

section, article, aside, figure, main, fieldset, fieldset div{
    display: grid;
}

main{
    grid-gap: var(--secondary-gap);
    line-height: var(--par-line-height);
}

section, article, aside{
    grid-gap: var(--tertiary-gap);
}

figure, div{
    grid-gap: var(--fourth-gap);
}

#active-page{
    border-bottom: 0.15rem solid var(--primary-accent);
}

ol li{
    margin-left: 1rem;
}

li{
    max-width: 70ch;
}


/*Text related styling*/


p{
    font-family: var(--mf-regular);
    color: var(--text-color);
    font-size: clamp(var(--font-size-regular), var(--font-scaling-value) + var(--font-size-regular), var(--font-max-p));
    max-width: 70ch;
}

h1, h2, h3, h4{
    font-family: var(--mf-bold);
}

h1, h2, h3{
    color: var(--primary-accent);
}

h1{
    font-size: clamp(var(--font-size-extra-large), var(--font-scaling-value) + var(--font-size-extra-large), var(--font-max-h1));
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

h2, h3{
    border-bottom: 0.25rem solid var(--primary-accent);
    width: 100%;
}

h2{
    font-size: clamp(var(--font-size-large), var(--font-scaling-value) + var(--font-size-large), var(--font-max-h2));
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
}

h3{
    font-size: clamp(var(--font-size-medium), var(--font-scaling-value) + (var(--font-size-medium)), var(--font-max-h3));
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
}


h4{
    font-size: clamp(var(--font-size-regular), var(--font-scaling-value) + var(--font-size-medium), var(--font-max-h4));
    color: var(--text-color);
    margin-top: 0.1rem;
    margin-bottom: 0.08rem;
}

legend{
    font-size: var(--font-size-large);
}

label{
    font-size: var(--font-size-regular);
}


button{
    color: var(--primary-accent);
    background-color: var(--background-color);
}

button:hover{
    background-color: var(--secondary-accent);
}

a:link, a:visited{
    color: var(--text-color);
    font-size: clamp(var(--font-size-a), var(--font-scaling-value) + var(--font-size-a), var(--font-max-a));
    text-decoration: none;
    font-family: var(--mf-italic);
    font-style: italic;
    margin-left: var(--fourth-gap);
    margin-right: var(--fourth-gap);
}

a:hover{
    color: var(--primary-accent);
    text-decoration: underline solid var(--primary-accent) 0.05rem;
}


/*HEADER and FOOTER*/

header{
    display: flex;
    flex-direction: column;
}

header ul, footer{
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--fourth-gap);
    justify-content: space-between;
    border-top: 0.15rem solid var(--primary-accent);
    border-bottom: 0.15rem solid var(--primary-accent);
}

footer p, footer a:link{
    font-size: var(--font-size-small);
}



/*WEBPAGES*/

/*HOMEPAGE*/

.homepage-top-pics{
    grid-template-columns: 1fr;
}

/*QUOTE SECTION*/

.quote{
    display: flex;
    flex-flow: column wrap;
    border-top: 0.4rem double var(--secondary-accent);
    border-bottom: 0.4rem double var(--secondary-accent);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

q{
    font-family: var(--mf-bold-italic);
    font-style: italic;
    font-weight: bold;
    font-size: clamp(var(--font-size-medium), var(--font-scaling-value) + var(--font-size-medium), var(--font-max-h3));
    color: var(--secondary-accent);
}
q, .quote p{
    margin: auto;
}

.quote p{
    font-size: clamp(var(--font-size-small), var(--font-scaling-value) + var(--font-size-small), var(--font-max-small));
}

/*SUBSCRIPTION PAGE*/



/*hides or shows images based based on screen size*/

.tablet-pic, .tablet-anchor, .desktop-pic{
    display: none;
}

.mission{
    margin: auto;
}


/*SMALL PHONE SIZE*/

@media (max-width: 450px){
    header nav ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .onze-missie-header, .startpagina-header{
        border-bottom: 0.1rem dashed var(--secondary-accent);
    }
}


/*TABLET SIZE*/

@media (min-width: 600px){
    .tablet-pic, .tablet-anchor{
        display: block;
    }

    nav ul, footer{
        justify-content: space-evenly;
    }

    /*start of homepage*/

    .homepage-top-pics section{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    /*one of the homepage-top-pics*/
    #spans-on-tablet{
        grid-area: 1 / 1 / 3 / 2;
    }

    .news section, .new-recipes section{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /*end of homepage*/

    /*start of mission page*/

    .mission-top-pics, .mission-bottom-pics{
        grid-template-columns: repeat(2, 1fr);
    }

    /*end of mission page*/

    /*start of recipes page*/

    .picture-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .picture-section img{
        height: 100%;
        object-fit: cover;
    }

    .prep-section ol, .ingredient-section ul{
        display: grid;
        row-gap: var(--fourth-gap);
    }

    /*end of recipes page*/

    /*start of subscription page*/


    .subscription-body{
        justify-content: space-between;
    }

    .subscription-top-pics, .subscription-bottom-pics{
        grid-template-columns: repeat(2, 1fr);
    }

    .subscription-body main{
        gap: clamp(4rem, 4rem + var(--font-scaling-value), 10rem)
    }

    }

    /*end of subscription page*/



/*DESKTOP SIZE*/


@media (min-width: 1024px){

    .desktop-pic{
        display: block;
    }

    nav ul, footer{
        justify-content: space-around;
    }

    .homepage-top-pics section{
        grid-template-columns: 2fr 1fr 1fr;
    }

    .news section, .new-recipes section{
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
    }

    .mission-top-pics, .mission-bottom-pics, .picture-section{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .prep-ingredients-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .prep-section, .ingredient-section{
        display: flex;
        flex-direction: column;
    }

    form{
        width: 60%;
        margin: auto;
        scale: 1.1;
    }

    .subscription-top-pics, .subscription-bottom-pics{
        margin: auto;
        width: 90%;
        scale: 0.9;
    }




}
